/*	FOOTER Copyright Bar
/*----------------------------------------------------*/

.copyright-bar {
	height: 70px;
	padding-top: 20px;
	background-color: #9EBD3E;
	position: relative;
	bottom: 0;
}

.copyright-bar p {
	color: #ffffff;
	font-weight: 700;
	margin: 0;
}
